@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";

:root {
  --background: #000;
  --foreground: #ededed;
}

@theme inline {
  /* Font and color variables */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-against: "Against", serif;
  --font-space: "Space Grotesk", sans-serif;
  --color-primary: #ebff57;

  /* === Animation Tokens === */
  --animate-marquee: marquee 5s linear infinite;
  --animate-shine: shine 5s linear infinite;
  --animate-gradient: gradient 8s linear infinite;
  --animate-scrolldown: scrolldown-anim 1.5s infinite;

  /* === Keyframes === */
  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }

  @keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

@layer utilities {
  /* Custom translate utility */
  .translate-101 {
    --tw-translate-x: 101%;
  }

  /* Animation utilities */
  .animate-marquee {
    animation: var(--animate-marquee);
  }

  .animate-shine {
    animation: var(--animate-shine);
  }

  .animate-gradient {
    animation: var(--animate-gradient);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space);
}

*::selection {
  background: var(--color-primary);
  color: #000;
}
*::-moz-selection {
  background: var(--color-primary);
  color: #000;
}
*::-webkit-selection {
  background: var(--color-primary);
  color: #000;
}

span::selection {
  background: #000;
  color: var(--color-primary);
}
span::-moz-selection {
  background: #000;
  color: var(--color-primary);
}
span::-webkit-selection {
  background: #000;
  color: var(--color-primary);
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/SpaceGrotesk-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Against";
  src: url("/against regular.otf") format("opentype");
}

/* SCROLLDOWN ANIMATION */
@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }

  40% {
    opacity: 1;
    height: 10px;
  }

  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }

  100% {
    height: 3px;
    opacity: 0;
  }
}
